name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
jobs:
  gh-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: "16.x"
      - name: Release to GitHub Pages
        run: |
          GIT_USER=juyeong-s yarn deploy
