name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
jobs:
  gh-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: actions/setup-node@v1
        with:
          node-version: "16.x"
      - uses: webfactory/ssh-agent@v0.5.0
        with:
          ssh-private-key: ${{ secrets.GH_PAGES_DEPLOY }}
      - name: Release to GitHub Pages
        env:
          USE_SSH: true
          GIT_USER: git
        run: |
          git config --global user.email "happyu9986@gmail.com"
          git config --global user.name "juyeong-s"
          yarn install
          yarn run build
          GIT_USER=juyeong-s yarn deploy
